.idea/
scrapy_sight/__init__.pyc
scrapy_sight/items.pyc
scrapy_sight/middlewares.pyc
scrapy_sight/settings.pyc
scrapy_sight/spiders/__init__.pyc
scrapy_sight/spiders/picture.pyc
scrapy_sight/spiders/rotate_useragent.pyc
scrapy_sight/spiders/sightcrawl.pyc
scrapy_sight/spiders/solocrawl.pyc
scrapy_sight/spiders/testa.pyc
scrapy_sight/geo_api.py
