.idea/
scrapy_sight/geo_api.py
.idea/workspace.xml
scrapy_sight/foreigh_landmark.pyc
scrapy_sight/geo_api.pyc
scrapy_sight/landmark.pyc
scrapy_sight/picture_utils.pyc
scrapy_sight/spiders/eat_test.pyc
scrapy_sight/spiders/proxy_ip_gen.pyc
scrapy_sight/spiders/scrapy_ctrip.pyc
scrapy_sight/spiders/shopping_test.pyc
scrapy_sight/spiders/sight_test.pyc
